@model Treehouse.FitnessFrog.Models.Entry

@{
    ViewBag.Title = "Add Entry";

}

@*<select>
        <option value="1">Item 1</option>
        <option value="2" selected>Item 2</option>
    </select>*@

<h2>@ViewBag.Title</h2>

@Html.Partial("_EntryForm")



